{% comment %}
  Post List Section - Block-based grid view with pagination options
  Blocks:
    - page_header: Page title and description
    - posts_grid: Grid settings and layout
{% endcomment %}

{%- assign section_width = section.settings.section_width | default: 'contained' -%}
{%- assign show_page_title = true -%}
{%- assign page_title = 'All Posts' -%}
{%- assign title_heading_tag = 'h2' -%}
{%- assign show_description = false -%}
{%- assign page_description = '' -%}
{%- assign posts_per_page = 12 -%}
{%- assign pagination_type = 'traditional' -%}
{%- assign empty_state_icon = true -%}
{%- assign empty_state_title = 'No posts available' -%}
{%- assign empty_state_title_font_size = 'text-h3' -%}
{%- assign empty_state_title_font_weight = 'font-bold' -%}
{%- assign empty_state_title_color = '#000000' -%}
{%- assign empty_state_message = 'Get started by creating your first blog post. Posts will appear here once published.' -%}
{%- assign empty_state_message_font_size = 'text-base' -%}
{%- assign empty_state_message_font_weight = 'font-normal' -%}
{%- assign empty_state_message_color = '#666666' -%}
{%- assign empty_state_spacing = 'space-lg' -%}
{%- assign show_empty_state_button = true -%}
{%- assign empty_state_button_text = 'Create Post' -%}
{%- assign empty_state_button_url = '/admin/blogs' -%}
{%- assign empty_state_button_style = 'btn-bg-primary' -%}
{%- assign empty_state_button_color = '#ffffff' -%}

{% comment %} Extract from blocks {% endcomment %}
{%- for block in section.blocks -%}
  {%- if block.type == 'page_header' -%}
    {%- assign header_block = block -%}
    {%- assign show_page_title = block.settings.show_page_title -%}
    {%- if block.settings.page_title != blank -%}
      {%- assign page_title = block.settings.page_title -%}
    {%- endif -%}
    {%- assign title_heading_tag = block.settings.title_heading_tag | default: 'h2' -%}
    {%- assign show_description = block.settings.show_description | default: false -%}
    {%- assign page_description = block.settings.page_description | default: '' -%}
  {%- elsif block.type == 'posts_grid' -%}
    {%- assign grid_block = block -%}
    {%- assign posts_per_page = block.settings.posts_per_page | default: 12 -%}
    {%- assign pagination_type = block.settings.pagination_type | default: 'traditional' -%}
  {%- elsif block.type == 'empty_state' -%}
    {%- assign empty_state_block = block -%}
    {%- assign empty_state_icon = block.settings.show_icon -%}
    {%- if block.settings.title != blank -%}
      {%- assign empty_state_title = block.settings.title -%}
    {%- endif -%}
    {%- assign empty_state_title_font_size = block.settings.title_font_size | default: 'text-h3' -%}
    {%- assign empty_state_title_font_weight = block.settings.title_font_weight | default: 'font-bold' -%}
    {%- assign empty_state_title_color = block.settings.title_color | default: '#000000' -%}
    {%- if block.settings.message != blank -%}
      {%- assign empty_state_message = block.settings.message -%}
    {%- endif -%}
    {%- assign empty_state_message_font_size = block.settings.message_font_size | default: 'text-base' -%}
    {%- assign empty_state_message_font_weight = block.settings.message_font_weight | default: 'font-normal' -%}
    {%- assign empty_state_message_color = block.settings.message_color | default: '#666666' -%}
    {%- assign empty_state_spacing = block.settings.spacing | default: 'space-lg' -%}
    {%- assign show_empty_state_button = block.settings.show_button -%}
    {%- if block.settings.button_text != blank -%}
      {%- assign empty_state_button_text = block.settings.button_text -%}
    {%- endif -%}
    {%- if block.settings.button_url != blank -%}
      {%- assign empty_state_button_url = block.settings.button_url -%}
    {%- endif -%}
    {%- assign empty_state_button_style = block.settings.button_style | default: 'btn-bg-primary' -%}
    {%- assign empty_state_button_color = block.settings.button_color | default: '#ffffff' -%}
  {%- endif -%}
{%- endfor -%}

<section
  id="MainPostList-{{ section.id }}"
  class="post-list-section post-list-{{ section.id }} section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-pagination-type="{{ pagination_type }}"
>
  {%- style -%}
    .section-{{ section.id }} {
      {%- assign p = section.settings.section_padding -%}
      {%- if p -%}
        {%- capture pt -%}{{ p.top }}{%- endcapture -%}
        {%- capture pb -%}{{ p.bottom }}{%- endcapture -%}
        {%- capture pl -%}{{ p.left }}{%- endcapture -%}
        {%- capture pr -%}{{ p.right }}{%- endcapture -%}
        padding-top: {% if pt contains 'var(' %}{{ pt }}{% else %}{{ pt }}px{% endif %};
        padding-bottom: {% if pb contains 'var(' %}{{ pb }}{% else %}{{ pb }}px{% endif %};
        padding-left: {% if pl contains 'var(' %}{{ pl }}{% else %}{{ pl }}px{% endif %};
        padding-right: {% if pr contains 'var(' %}{{ pr }}{% else %}{{ pr }}px{% endif %};
      {%- endif -%}
      {%- assign sr = section.settings.section_border_radius -%}
      {%- if sr -%}
        {%- capture sr_tl -%}{{ sr.tl }}{%- endcapture -%}
        {%- capture sr_tr -%}{{ sr.tr }}{%- endcapture -%}
        {%- capture sr_br -%}{{ sr.br }}{%- endcapture -%}
        {%- capture sr_bl -%}{{ sr.bl }}{%- endcapture -%}
        border-radius: {% if sr_tl contains 'var(' %}{{ sr_tl }}{% else %}{{ sr_tl }}px{% endif %} {% if sr_tr contains 'var(' %}{{ sr_tr }}{% else %}{{ sr_tr }}px{% endif %} {% if sr_br contains 'var(' %}{{ sr_br }}{% else %}{{ sr_br }}px{% endif %} {% if sr_bl contains 'var(' %}{{ sr_bl }}{% else %}{{ sr_bl }}px{% endif %};
      {%- endif -%}
    }
    .post-list-{{ section.id }} .infinity-scroll-trigger {
      height: 1px;
      width: 100%;
      margin-top: 100px;
    }
  {%- endstyle -%}
  <div class="{% if section_width == 'full' %}container-full{% else %}container{% endif %}">

    {% comment %} Page Header {% endcomment %}
    {%- if show_page_title or show_description -%}
      <div class="post-list-header mb-8 lg:mb-12" {% if header_block %}{{ header_block.fluid_attributes }}{% endif %}>
        {%- if show_page_title -%}
          <{{ title_heading_tag }} class=" {{ section.settings.title_font_weight | default: 'font-bold' }}" style="color: {{ section.settings.title_color | default: '#000000' }};">
            {{ page_title }}
          </{{ title_heading_tag }}>
        {%- endif -%}
        {%- if show_description and page_description != blank -%}
          <p class="{{ section.settings.description_font_size | default: 'text-base' }} {{ section.settings.description_font_size_desktop | default: 'lg:text-lg' }} {{ section.settings.description_font_weight | default: 'font-normal' }} mt-4" style="color: {{ section.settings.description_color | default: '#000000' }};">
            {{ page_description }}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}

    {% comment %} Posts Grid {% endcomment %}
    {%- paginate posts by posts_per_page -%}
      <div class="grid grid-cols-1 {{ section.settings.grid_columns_tablet | default: 'lg-tab-grid-cols-2' }} {{ section.settings.grid_columns_desktop | default: 'xl-desktop-grid-cols-3' }} {{ section.settings.grid_gap_mobile | default: 'space-5xl' }} {{ section.settings.grid_gap_desktop | default: 'lg:space-5xl' }} blog-grid" {% if grid_block %}{{ grid_block.fluid_attributes }}{% endif %}>
        {%- for post in posts -%}
          {%- assign post_url = post.preview_url | default: post.url | default: '#' -%}
          <div class="blog-col flex flex-col {{ section.settings.blog_item_spacing_mobile | default: 'space-xl' }} {{ section.settings.blog_item_spacing_desktop | default: 'lg:space-2xl' }}">
            {%- assign post_image_url = '' -%}
            {%- assign post_image_obj = null -%}
            {%- if post.image_url != blank -%}
              {%- assign post_image_url = post.image_url -%}
            {%- elsif post.image != blank -%}
              {%- assign post_image_obj = post.image -%}
              {%- assign post_image_url = post.image | image_url: width: 600 -%}
            {%- endif -%}
            
            {%- if post_image_url != blank or post_image_obj -%}
              {%- assign cr = section.settings.image_border_radius -%}
              {%- assign _img_cr_style = '' -%}
              {%- if cr -%}
                {%- capture cr_tl -%}{{ cr.tl }}{%- endcapture -%}{%- capture cr_tr -%}{{ cr.tr }}{%- endcapture -%}{%- capture cr_br -%}{{ cr.br }}{%- endcapture -%}{%- capture cr_bl -%}{{ cr.bl }}{%- endcapture -%}
                {%- capture _img_cr_style -%}border-radius: {% if cr_tl contains 'var(' %}{{ cr_tl }}{% else %}{{ cr_tl }}px{% endif %} {% if cr_tr contains 'var(' %}{{ cr_tr }}{% else %}{{ cr_tr }}px{% endif %} {% if cr_br contains 'var(' %}{{ cr_br }}{% else %}{{ cr_br }}px{% endif %} {% if cr_bl contains 'var(' %}{{ cr_bl }}{% else %}{{ cr_bl }}px{% endif %}; {%- endcapture -%}
              {%- endif -%}
              <figure class="blog-image relative overflow-hidden" style="{{ _img_cr_style }}height: {{ section.settings.image_height | default: 'auto' }};">
                {%- assign img_input = post_image_obj -%}
                {%- assign img_fluid_media_id = '' -%}
                {%- if img_input and img_input.fluid_media_id -%}
                  {%- assign img_fluid_media_id = img_input.fluid_media_id -%}
                  {%- assign img_embed_type = img_input.embed_type -%}
                {%- endif -%}
                {%- assign use_fluid_image_widget = false -%}
                {%- if img_fluid_media_id != '' -%}
                  {%- assign use_fluid_image_widget = true -%}
                {%- endif -%}
                {%- if use_fluid_image_widget -%}
                  <fluid-media-widget class="fluid-media-widget-image" media-id="{{ img_fluid_media_id }}" responsive="true" embed-type="{{ img_embed_type | default: 'inline' }}" data-fluid-widget="true"></fluid-media-widget>
                {%- else -%}
                  {%- if post_image_url != '' -%}
                    <img src="{{ post_image_url }}" alt="{{ post.title | escape }}" class="image-cover" loading="lazy" width="" height=""/>
                  {%- else -%}
                    <img src="{{ 'blog-placeholder.png' | asset_url }}" alt="blog" class="image-cover" width="" height=""/>
                  {%- endif -%}
                {%- endif -%}
              </figure>
            {%- endif -%}
            
            <div class="blog-content flex flex-col {{ section.settings.blog_content_spacing_mobile | default: 'space-md' }} {{ section.settings.blog_content_spacing_desktop | default: 'lg:space-lg' }}">
              {%- if section.settings.show_category and post.category -%}
                <div class="blog-category">
                  <span class="{{ section.settings.category_font_size | default: 'text-sm' }} {{ section.settings.category_font_weight | default: 'font-medium' }}" style="color: {{ section.settings.category_color | default: '#666666' }};">
                    {{ post.category.title | default: post.category }}
                  </span>
                </div>
              {%- endif -%}
              
              {%- assign card_title_tag = section.settings.card_title_tag | default: 'h4' -%}
              <{{ card_title_tag }} class="{{ section.settings.card_title_font_weight | default: 'font-semibold' }}" style="color: {{ section.settings.card_title_color | default: '#000000' }};">
                <a href="{{ post_url }}" class="text-inherit hover:opacity-80 transition-opacity">{{ post.title }}</a>
              </{{ card_title_tag }}>
              
              {%- if section.settings.show_excerpt -%}
                {%- assign post_excerpt = post.excerpt | default: post.summary -%}
                {%- if post_excerpt != blank -%}
                  <p class="{{ section.settings.excerpt_font_size | default: 'text-base' }} {{ section.settings.excerpt_font_size_desktop | default: 'lg:text-base' }} {{ section.settings.excerpt_font_weight | default: 'font-normal' }}" style="color: {{ section.settings.excerpt_color | default: '#000000' }};">
                    {{ post_excerpt | strip_html | truncate: 150 }}
                  </p>
                {%- endif -%}
              {%- endif -%}
              
              {%- if section.settings.show_author or section.settings.show_date -%}
                <div class="blog-author flex align-center {{ section.settings.author_gap | default: 'space-sm' }}">
                  {%- if section.settings.show_author -%}
                    {%- assign post_author = post.author | default: post.post_author -%}
                    {%- if post_author != blank -%}
                      {%- if section.settings.show_author_image -%}
                        <img src="{{ 'avatar.png' | asset_url }}" alt="{{ post_author }}" class="rounded-full w-10 h-10 object-cover" loading="lazy" width="" height=""/>
                      {%- endif -%}
                      <div class="flex flex-col {{ section.settings.author_info_spacing | default: 'space-xs' }}">
                        <p class="{{ section.settings.author_font_size | default: 'text-sm' }} {{ section.settings.author_font_weight | default: 'font-medium' }}" style="color: {{ section.settings.author_color | default: '#000000' }};">
                          {{ post_author }}
                        </p>
                        {%- if section.settings.show_date -%}
                          {%- assign post_date = post.published_at | default: post.post_date -%}
                          {%- if post_date != blank -%}
                            <p class="text-xs" style="color: {{ section.settings.date_color | default: '#666666' }};">
                              {{ post_date | date: '%b %d, %Y' }}
                            </p>
                          {%- endif -%}
                        {%- endif -%}
                      </div>
                    {%- elsif section.settings.show_date -%}
                      {%- assign post_date = post.published_at | default: post.post_date -%}
                      {%- if post_date != blank -%}
                        <p class="{{ section.settings.meta_font_size | default: 'text-sm' }} {{ section.settings.meta_font_weight | default: 'font-normal' }}" style="color: {{ section.settings.meta_color | default: '#666666' }};">
                          {{ post_date | date: '%b %d, %Y' }}
                        </p>
                      {%- endif -%}
                    {%- endif -%}
                  {%- elsif section.settings.show_date -%}
                    {%- assign post_date = post.published_at | default: post.post_date -%}
                    {%- if post_date != blank -%}
                      <p class="{{ section.settings.meta_font_size | default: 'text-sm' }} {{ section.settings.meta_font_weight | default: 'font-normal' }}" style="color: {{ section.settings.meta_color | default: '#666666' }};">
                        {{ post_date | date: '%b %d, %Y' }}
                      </p>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              {%- endif -%}
              
              {%- if section.settings.show_read_more -%}
                <div class="blog-btn {{ section.settings.read_more_margin_top | default: 'mt-md' }}">
                  <a href="{{ post_url }}" class="btn {{ section.settings.read_more_button_style | default: 'btn-link' }}" style="color: {{ section.settings.read_more_button_color | default: '#000000' }};">
                    <span>{{ section.settings.read_more_button_text | default: "Read more" }}</span>
                    {%- if section.settings.show_read_more_icon -%}
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" class="mt-1">
                        <path d="M9.70697 17.3491L15.414 11.6421L9.70697 5.93506L8.29297 7.34906L12.586 11.6421L8.29297 15.9351L9.70697 17.3491Z" fill="currentColor" />
                      </svg>
                    {%- endif -%}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- else -%}
          <div class="col-span-full text-center py-12 lg:py-16" {% if empty_state_block %}{{ empty_state_block.fluid_attributes }}{% endif %}>
            <div class="max-w-md mx-auto flex flex-col items-center {{ empty_state_spacing }}">
              {%- if empty_state_icon -%}
                <div class="mb-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="text-gray-400">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="16" y1="13" x2="8" y2="13"></line>
                    <line x1="16" y1="17" x2="8" y2="17"></line>
                    <polyline points="10 9 9 9 8 9"></polyline>
                  </svg>
                </div>
              {%- endif -%}
              <h3 class="{{ empty_state_title_font_size }} {{ empty_state_title_font_weight }} mb-2" style="color: {{ empty_state_title_color }};">
                {{ empty_state_title }}
              </h3>
              <p class="{{ empty_state_message_font_size }} {{ empty_state_message_font_weight }}" style="color: {{ empty_state_message_color }};">
                {{ empty_state_message }}
              </p>
              {%- if show_empty_state_button -%}
                <div class="mt-6">
                  <a href="{{ empty_state_button_url }}" class="btn {{ empty_state_button_style }}" style="color: {{ empty_state_button_color }};">
                    <span>{{ empty_state_button_text }}</span>
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>

      {% comment %} Pagination {% endcomment %}
      {%- if paginate.pages > 1 -%}
        <div class="post-list-pagination mt-10 lg:mt-12">
          {%- if pagination_type == 'traditional' -%}
            {%- render 'pagination', paginate: paginate -%}
          {%- elsif pagination_type == 'load_more' -%}
            <div class="flex justify-center">
              {%- if paginate.next -%}
                <button
                  type="button"
                  class="load-more-btn btn {{ section.settings.load_more_button_style | default: 'btn-bg-primary' }}"
                  data-next-url="{{ paginate.next.url }}"
                  data-section-id="{{ section.id }}"
                >
                  {{ section.settings.load_more_button_text | default: 'Load More' }}
                </button>
              {%- endif -%}
            </div>
          {%- elsif pagination_type == 'infinity' -%}
            <div class="infinity-scroll-trigger" data-next-url="{% if paginate.next %}{{ paginate.next.url }}{% endif %}" data-section-id="{{ section.id }}"></div>
            {%- if paginate.next -%}
              <div class="loading-indicator hidden text-center mt-4">
                <p class="text-sm">Loading more posts...</p>
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</section>

{%- if pagination_type == 'load_more' or pagination_type == 'infinity' -%}
  <script>
    (function() {
      const sectionId = '{{ section.id }}';
      const paginationType = '{{ pagination_type }}';
      const postsGrid = document.querySelector(`#MainPostList-${sectionId} .posts-grid`);
      
      {%- if pagination_type == 'load_more' -%}
        function setupLoadMore() {
          const loadMoreBtn = document.querySelector(`#MainPostList-${sectionId} .load-more-btn`);
          if (!loadMoreBtn) return;
          
          loadMoreBtn.addEventListener('click', function() {
            const nextUrl = this.dataset.nextUrl;
            if (!nextUrl) return;
            
            this.disabled = true;
            this.textContent = 'Loading...';
            
            fetch(nextUrl)
              .then(response => response.text())
              .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newPosts = doc.querySelector(`#MainPostList-${sectionId} .posts-grid`);
                const newPagination = doc.querySelector(`#MainPostList-${sectionId} .post-list-pagination`);
                
                if (newPosts) {
                  postsGrid.innerHTML += newPosts.innerHTML;
                }
                
                if (newPagination) {
                  document.querySelector(`#MainPostList-${sectionId} .post-list-pagination`).innerHTML = newPagination.innerHTML;
                  setupLoadMore();
                }
              })
              .catch(error => {
                console.error('Error loading more posts:', error);
                this.disabled = false;
                this.textContent = '{{ section.settings.load_more_button_text | default: "Load More" }}';
              });
          });
        }
        setupLoadMore();
      {%- elsif pagination_type == 'infinity' -%}
        const trigger = document.querySelector(`#MainPostList-${sectionId} .infinity-scroll-trigger`);
        const loadingIndicator = document.querySelector(`#MainPostList-${sectionId} .loading-indicator`);
        let isLoading = false;
        
        if (trigger) {
          const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
              if (entry.isIntersecting && !isLoading && trigger.dataset.nextUrl) {
                isLoading = true;
                if (loadingIndicator) loadingIndicator.classList.remove('hidden');
                
                fetch(trigger.dataset.nextUrl)
                  .then(response => response.text())
                  .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newPosts = doc.querySelector(`#MainPostList-${sectionId} .posts-grid`);
                    const newPagination = doc.querySelector(`#MainPostList-${sectionId} .post-list-pagination`);
                    
                    if (newPosts) {
                      postsGrid.innerHTML += newPosts.innerHTML;
                    }
                    
                    if (newPagination) {
                      const newTrigger = doc.querySelector(`#MainPostList-${sectionId} .infinity-scroll-trigger`);
                      if (newTrigger && newTrigger.dataset.nextUrl) {
                        trigger.dataset.nextUrl = newTrigger.dataset.nextUrl;
                        isLoading = false;
                        if (loadingIndicator) loadingIndicator.classList.add('hidden');
                      } else {
                        trigger.remove();
                        if (loadingIndicator) loadingIndicator.remove();
                      }
                    } else {
                      trigger.remove();
                      if (loadingIndicator) loadingIndicator.remove();
                    }
                  })
                  .catch(error => {
                    console.error('Error loading more posts:', error);
                    isLoading = false;
                    if (loadingIndicator) loadingIndicator.classList.add('hidden');
                  });
              }
            });
          }, { rootMargin: '200px' });
          
          observer.observe(trigger);
        }
      {%- endif -%}
    })();
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Post List",
  "tag": "section",
  "enabled_on": {
    "templates": ["post_page"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section Width",
      "options": [
        { "value": "contained", "label": "Contained" },
        { "value": "full", "label": "Full Width" }
      ],
      "default": "contained"
    },
    {
      "type": "padding",
      "id": "section_padding",
      "label": "Section Padding"
    },
    {
      "type": "header",
      "content": "Grid Settings"
    },
    {
      "type": "select",
      "id": "grid_columns_tablet",
      "label": "Grid Columns (Tablet)",
      "options": [
        { "value": "lg-tab-grid-cols-1", "label": "1 Column" },
        { "value": "lg-tab-grid-cols-2", "label": "2 Columns" },
        { "value": "lg-tab-grid-cols-3", "label": "3 Columns" }
      ],
      "default": "lg-tab-grid-cols-2"
    },
    {
      "type": "select",
      "id": "grid_columns_desktop",
      "label": "Grid Columns (Desktop)",
      "options": [
        { "value": "xl-desktop-grid-cols-1", "label": "1 Column" },
        { "value": "xl-desktop-grid-cols-2", "label": "2 Columns" },
        { "value": "xl-desktop-grid-cols-3", "label": "3 Columns" },
        { "value": "xl-desktop-grid-cols-4", "label": "4 Columns" }
      ],
      "default": "xl-desktop-grid-cols-3"
    },
    {
      "type": "select",
      "id": "grid_gap_mobile",
      "label": "Grid Gap (Mobile)",
      "options": [
        { "value": "space-xs", "label": "XS" },
        { "value": "space-sm", "label": "SM" },
        { "value": "space-md", "label": "MD" },
        { "value": "space-lg", "label": "LG" },
        { "value": "space-xl", "label": "XL" },
        { "value": "space-2xl", "label": "2XL" },
        { "value": "space-3xl", "label": "3XL" },
        { "value": "space-4xl", "label": "4XL" },
        { "value": "space-5xl", "label": "5XL" }
      ],
      "default": "space-5xl"
    },
    {
      "type": "select",
      "id": "grid_gap_desktop",
      "label": "Grid Gap (Desktop)",
      "options": [
        { "value": "lg:space-xs", "label": "XS" },
        { "value": "lg:space-sm", "label": "SM" },
        { "value": "lg:space-md", "label": "MD" },
        { "value": "lg:space-lg", "label": "LG" },
        { "value": "lg:space-xl", "label": "XL" },
        { "value": "lg:space-2xl", "label": "2XL" },
        { "value": "lg:space-3xl", "label": "3XL" },
        { "value": "lg:space-4xl", "label": "4XL" },
        { "value": "lg:space-5xl", "label": "5XL" }
      ],
      "default": "lg:space-5xl"
    },
    {
      "type": "select",
      "id": "blog_item_spacing_mobile",
      "label": "Blog Item Spacing (Mobile)",
      "options": [
        { "value": "space-xs", "label": "XS" },
        { "value": "space-sm", "label": "SM" },
        { "value": "space-md", "label": "MD" },
        { "value": "space-lg", "label": "LG" },
        { "value": "space-xl", "label": "XL" },
        { "value": "space-2xl", "label": "2XL" },
        { "value": "space-3xl", "label": "3XL" },
        { "value": "space-4xl", "label": "4XL" },
        { "value": "space-5xl", "label": "5XL" }
      ],
      "default": "space-xl"
    },
    {
      "type": "select",
      "id": "blog_item_spacing_desktop",
      "label": "Blog Item Spacing (Desktop)",
      "options": [
        { "value": "lg:space-xs", "label": "XS" },
        { "value": "lg:space-sm", "label": "SM" },
        { "value": "lg:space-md", "label": "MD" },
        { "value": "lg:space-lg", "label": "LG" },
        { "value": "lg:space-xl", "label": "XL" },
        { "value": "lg:space-2xl", "label": "2XL" },
        { "value": "lg:space-3xl", "label": "3XL" },
        { "value": "lg:space-4xl", "label": "4XL" },
        { "value": "lg:space-5xl", "label": "5XL" }
      ],
      "default": "lg:space-2xl"
    },
    {
      "type": "select",
      "id": "blog_content_spacing_mobile",
      "label": "Blog Content Spacing (Mobile)",
      "options": [
        { "value": "space-xs", "label": "XS" },
        { "value": "space-sm", "label": "SM" },
        { "value": "space-md", "label": "MD" },
        { "value": "space-lg", "label": "LG" },
        { "value": "space-xl", "label": "XL" },
        { "value": "space-2xl", "label": "2XL" },
        { "value": "space-3xl", "label": "3XL" },
        { "value": "space-4xl", "label": "4XL" },
        { "value": "space-5xl", "label": "5XL" }
      ],
      "default": "space-md"
    },
    {
      "type": "select",
      "id": "blog_content_spacing_desktop",
      "label": "Blog Content Spacing (Desktop)",
      "options": [
        { "value": "lg:space-xs", "label": "XS" },
        { "value": "lg:space-sm", "label": "SM" },
        { "value": "lg:space-md", "label": "MD" },
        { "value": "lg:space-lg", "label": "LG" },
        { "value": "lg:space-xl", "label": "XL" },
        { "value": "lg:space-2xl", "label": "2XL" },
        { "value": "lg:space-3xl", "label": "3XL" },
        { "value": "lg:space-4xl", "label": "4XL" },
        { "value": "lg:space-5xl", "label": "5XL" }
      ],
      "default": "lg:space-lg"
    },
    {
      "type": "corner_radius",
      "id": "image_border_radius",
      "label": "Image Border Radius"
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image Height",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "200px", "label": "Small (200px)" },
        { "value": "250px", "label": "Medium (250px)" },
        { "value": "300px", "label": "Large (300px)" }
      ],
      "default": "auto"
    },
    {
      "type": "header",
      "content": "Page Header Typography"
    },
   
    {
      "type": "select",
      "id": "title_font_weight",
      "label": "Title Font Weight",
      "options": [
        { "value": "font-light", "label": "Light" },
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" },
        { "value": "font-semibold", "label": "Semi Bold" },
        { "value": "font-bold", "label": "Bold" }
      ],
      "default": "font-bold"
    },
    {
      "type": "color_background",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description Font Size (Mobile)",
      "options": [
        { "value": "text-sm", "label": "SM" },
        { "value": "text-base", "label": "Base" },
        { "value": "text-lg", "label": "LG" },
        { "value": "text-xl", "label": "XL" }
      ],
      "default": "text-base"
    },
    {
      "type": "select",
      "id": "description_font_size_desktop",
      "label": "Description Font Size (Desktop)",
      "options": [
        { "value": "lg:text-sm", "label": "SM" },
        { "value": "lg:text-base", "label": "Base" },
        { "value": "lg:text-lg", "label": "LG" },
        { "value": "lg:text-xl", "label": "XL" }
      ],
      "default": "lg:text-lg"
    },
    {
      "type": "select",
      "id": "description_font_weight",
      "label": "Description Font Weight",
      "options": [
        { "value": "font-light", "label": "Light" },
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" },
        { "value": "font-semibold", "label": "Semi Bold" }
      ],
      "default": "font-normal"
    },
    {
      "type": "color_background",
      "id": "description_color",
      "label": "Description Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Card Settings"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show Category",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show Author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author_image",
      "label": "Show Author Image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show Read More Button",
      "default": true
    },
    {
      "type": "select",
      "id": "card_title_tag",
      "label": "Card Title HTML Tag",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" }
      ],
      "default": "h3"
    },
    {
      "type": "header",
      "content": "Card Title Typography"
    },
    {
      "type": "select",
      "id": "card_title_font_size",
      "label": "Card Title Font Size",
      "options": [
        { "value": "text-h2", "label": "H2" },
        { "value": "text-h3", "label": "H3" },
        { "value": "text-h4", "label": "H4" },
        { "value": "text-h5", "label": "H5" },
        { "value": "text-h6", "label": "H6" }
      ],
      "default": "text-h4"
    },
    {
      "type": "select",
      "id": "card_title_font_weight",
      "label": "Card Title Font Weight",
      "options": [
        { "value": "font-light", "label": "Light" },
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" },
        { "value": "font-semibold", "label": "Semi Bold" },
        { "value": "font-bold", "label": "Bold" }
      ],
      "default": "font-semibold"
    },
    {
      "type": "color_background",
      "id": "card_title_color",
      "label": "Card Title Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Category Typography"
    },
    {
      "type": "select",
      "id": "category_font_size",
      "label": "Category Font Size",
      "options": [
        { "value": "text-xs", "label": "XS" },
        { "value": "text-sm", "label": "SM" },
        { "value": "text-base", "label": "Base" }
      ],
      "default": "text-sm"
    },
    {
      "type": "select",
      "id": "category_font_weight",
      "label": "Category Font Weight",
      "options": [
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" },
        { "value": "font-semibold", "label": "Semi Bold" }
      ],
      "default": "font-medium"
    },
    {
      "type": "color_background",
      "id": "category_color",
      "label": "Category Color",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "Excerpt Typography"
    },
    {
      "type": "select",
      "id": "excerpt_font_size",
      "label": "Excerpt Font Size (Mobile)",
      "options": [
        { "value": "text-sm", "label": "SM" },
        { "value": "text-base", "label": "Base" },
        { "value": "text-lg", "label": "LG" }
      ],
      "default": "text-base"
    },
    {
      "type": "select",
      "id": "excerpt_font_size_desktop",
      "label": "Excerpt Font Size (Desktop)",
      "options": [
        { "value": "lg:text-sm", "label": "SM" },
        { "value": "lg:text-base", "label": "Base" },
        { "value": "lg:text-lg", "label": "LG" }
      ],
      "default": "lg:text-base"
    },
    {
      "type": "select",
      "id": "excerpt_font_weight",
      "label": "Excerpt Font Weight",
      "options": [
        { "value": "font-light", "label": "Light" },
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" }
      ],
      "default": "font-normal"
    },
    {
      "type": "color_background",
      "id": "excerpt_color",
      "label": "Excerpt Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Meta Typography"
    },
    {
      "type": "select",
      "id": "meta_font_size",
      "label": "Meta Font Size",
      "options": [
        { "value": "text-xs", "label": "XS" },
        { "value": "text-sm", "label": "SM" },
        { "value": "text-base", "label": "Base" }
      ],
      "default": "text-sm"
    },
    {
      "type": "select",
      "id": "meta_font_weight",
      "label": "Meta Font Weight",
      "options": [
        { "value": "font-light", "label": "Light" },
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" }
      ],
      "default": "font-normal"
    },
    {
      "type": "color_background",
      "id": "meta_color",
      "label": "Meta Color",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "Author Typography"
    },
    {
      "type": "select",
      "id": "author_font_size",
      "label": "Author Font Size",
      "options": [
        { "value": "text-xs", "label": "XS" },
        { "value": "text-sm", "label": "SM" },
        { "value": "text-base", "label": "Base" },
        { "value": "text-lg", "label": "LG" }
      ],
      "default": "text-sm"
    },
    {
      "type": "select",
      "id": "author_font_weight",
      "label": "Author Font Weight",
      "options": [
        { "value": "font-normal", "label": "Normal" },
        { "value": "font-medium", "label": "Medium" },
        { "value": "font-semibold", "label": "Semi Bold" },
        { "value": "font-bold", "label": "Bold" }
      ],
      "default": "font-medium"
    },
    {
      "type": "color_background",
      "id": "author_color",
      "label": "Author Color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "date_color",
      "label": "Date Color",
      "default": "#666666"
    },
    {
      "type": "select",
      "id": "author_gap",
      "label": "Author Gap",
      "options": [
        { "value": "space-xs", "label": "XS" },
        { "value": "space-sm", "label": "SM" },
        { "value": "space-md", "label": "MD" },
        { "value": "space-lg", "label": "LG" },
        { "value": "space-xl", "label": "XL" },
        { "value": "space-2xl", "label": "2XL" }
      ],
      "default": "space-sm"
    },
    {
      "type": "select",
      "id": "author_info_spacing",
      "label": "Author Info Spacing",
      "options": [
        { "value": "space-xs", "label": "XS" },
        { "value": "space-sm", "label": "SM" },
        { "value": "space-md", "label": "MD" },
        { "value": "space-lg", "label": "LG" }
      ],
      "default": "space-xs"
    },
    {
      "type": "header",
      "content": "Read More Button"
    },
    {
      "type": "text",
      "id": "read_more_button_text",
      "label": "Read More Button Text",
      "default": "Read more"
    },
    {
      "type": "select",
      "id": "read_more_button_style",
      "label": "Read More Button Style",
      "options": [
        { "value": "btn-link", "label": "Link" },
        { "value": "btn-bg-primary", "label": "Primary Background" },
        { "value": "btn-border-primary", "label": "Primary Border" }
      ],
      "default": "btn-link"
    },
    {
      "type": "color_background",
      "id": "read_more_button_color",
      "label": "Read More Button Color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "show_read_more_icon",
      "label": "Show Read More Icon",
      "default": true
    },
    {
      "type": "select",
      "id": "read_more_margin_top",
      "label": "Read More Button Margin Top",
      "options": [
        { "value": "mt-0", "label": "0" },
        { "value": "mt-xs", "label": "XS" },
        { "value": "mt-sm", "label": "SM" },
        { "value": "mt-md", "label": "MD" },
        { "value": "mt-lg", "label": "LG" },
        { "value": "mt-xl", "label": "XL" },
        { "value": "mt-2xl", "label": "2XL" },
        { "value": "mt-3xl", "label": "3XL" },
        { "value": "mt-4xl", "label": "4XL" },
        { "value": "mt-5xl", "label": "5XL" }
      ],
      "default": "mt-md"
    },
    {
      "type": "header",
      "content": "Load More Button"
    },
    {
      "type": "text",
      "id": "load_more_button_text",
      "label": "Load More Button Text",
      "default": "Load More"
    },
    {
      "type": "select",
      "id": "load_more_button_style",
      "label": "Load More Button Style",
      "options": [
        { "value": "btn-bg-primary", "label": "Primary" },
        { "value": "btn-bg-white", "label": "White" },
        { "value": "btn-border-primary", "label": "Primary Border" },
        { "value": "btn-border-black", "label": "Black Border" }
      ],
      "default": "btn-bg-primary"
    },
    {
      "type": "corner_radius",
      "id": "section_border_radius",
      "label": "Section Border Radius",
      "info": "Default 0px. Four corners, link/unlink."
    }
  ],
  "blocks": [
    {
      "type": "page_header",
      "name": "Page Header",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_page_title",
          "label": "Show Page Title",
          "default": true
        },
        {
          "type": "text",
          "id": "page_title",
          "label": "Page Title",
          "default": "All Posts"
        },
        {
          "type": "select",
          "id": "title_heading_tag",
          "label": "Title HTML Tag",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" }
          ],
          "default": "h2"
        },
        {
          "type": "checkbox",
          "id": "show_description",
          "label": "Show Description",
          "default": false
        },
        {
          "type": "textarea",
          "id": "page_description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "posts_grid",
      "name": "Posts Grid",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "posts_per_page",
          "label": "Posts Per Page",
          "min": 4,
          "max": 48,
          "step": 4,
          "default": 12
        },
        {
          "type": "select",
          "id": "pagination_type",
          "label": "Pagination Type",
          "options": [
            { "value": "traditional", "label": "Traditional" },
            { "value": "load_more", "label": "Load More" },
            { "value": "infinity", "label": "Infinity Scroll" }
          ],
          "default": "traditional"
        }
      ]
    },
    {
      "type": "empty_state",
      "name": "Empty State",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_icon",
          "label": "Show Icon",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "No posts available"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title Font Size",
          "options": [
            { "value": "text-h2", "label": "H2" },
            { "value": "text-h3", "label": "H3" },
            { "value": "text-h4", "label": "H4" },
            { "value": "text-h5", "label": "H5" }
          ],
          "default": "text-h3"
        },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Title Font Weight",
          "options": [
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-medium", "label": "Medium" },
            { "value": "font-semibold", "label": "Semi Bold" },
            { "value": "font-bold", "label": "Bold" }
          ],
          "default": "font-bold"
        },
        {
          "type": "color_background",
          "id": "title_color",
          "label": "Title Color",
          "default": "#000000"
        },
        {
          "type": "textarea",
          "id": "message",
          "label": "Message",
          "default": "Get started by creating your first blog post. Posts will appear here once published."
        },
        {
          "type": "select",
          "id": "message_font_size",
          "label": "Message Font Size",
          "options": [
            { "value": "text-sm", "label": "SM" },
            { "value": "text-base", "label": "Base" },
            { "value": "text-lg", "label": "LG" }
          ],
          "default": "text-base"
        },
        {
          "type": "select",
          "id": "message_font_weight",
          "label": "Message Font Weight",
          "options": [
            { "value": "font-normal", "label": "Normal" },
            { "value": "font-medium", "label": "Medium" }
          ],
          "default": "font-normal"
        },
        {
          "type": "color_background",
          "id": "message_color",
          "label": "Message Color",
          "default": "#666666"
        },
        {
          "type": "select",
          "id": "spacing",
          "label": "Content Spacing",
          "options": [
            { "value": "space-xs", "label": "XS" },
            { "value": "space-sm", "label": "SM" },
            { "value": "space-md", "label": "MD" },
            { "value": "space-lg", "label": "LG" },
            { "value": "space-xl", "label": "XL" }
          ],
          "default": "space-lg"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Show Button",
          "default": true
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Create Post"
        },
        {
          "type": "text",
          "id": "button_url",
          "label": "Button URL",
          "default": "/admin/blogs",
          "info": "URL to navigate when button is clicked"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            { "value": "btn-bg-primary", "label": "Primary" },
            { "value": "btn-bg-white", "label": "White" },
            { "value": "btn-border-primary", "label": "Primary Border" },
            { "value": "btn-border-black", "label": "Black Border" }
          ],
          "default": "btn-bg-primary"
        },
        {
          "type": "color_background",
          "id": "button_color",
          "label": "Button Color",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Post List",
      "blocks": [
        {
          "type": "page_header",
          "settings": {
            "show_page_title": true,
            "page_title": "All Posts"
          }
        },
        {
          "type": "posts_grid",
          "settings": {
            "posts_per_page": 12,
            "pagination_type": "traditional"
          }
        },
        {
          "type": "empty_state",
          "settings": {
            "show_icon": true,
            "title": "No posts available",
            "message": "Get started by creating your first blog post. Posts will appear here once published.",
            "show_button": true,
            "button_text": "Create Post",
            "button_url": "/admin/blogs"
          }
        }
      ]
    }
  ]
}
{% endschema %}
